
.divAna{
  background-color: blue;
	width:100%;
  height: 96vh;
}
.divIc{
  width: 49.9%;
  height: 100%;
  float:left;
  margin-left: 0.1%;
  background-color: lightgray;
}
.divSuruklenebilir {
  width: 50%;
  height: 10%;
  background-color: red;
  border: 1px solid;
  margin: 0 auto;
  margin-bottom: 1%;
}
h1{
  text-align: center;
  background-color: gray;
}
h3{
  text-align: center;
}
.btn_yenile{
  width:10%;
  height: 5%;
  bottom:5%;
  right:5%;
  position: absolute;
  margin: 5%;
  background-color: aqua;
}